.workshops__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.workshops__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(24px, 14.4px + 2vw, 40px);
}

.numbers {
  background-color: var(--gray-color-100);
}
.numbers__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(24px, 14.4px + 2vw, 40px);
}
.numbers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.numbers__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  --gap-items-decor: clamp(16px, 11.2px + 1vw, 24px);
  gap: clamp(16px, 13.6px + 0.5vw, 20px) clamp(32px, 22.4px + 2vw, 48px);
}
.numbers__items .card-info {
  padding: 18px 0;
}
.numbers__items .items-decor-card:nth-child(even) {
  position: relative;
}
.numbers__items .items-decor-card:nth-child(even):before {
  display: none;
}
@media (max-width: 1023px) {
  .numbers__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.activity__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.activity__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 1279px) {
  .activity__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .activity__items .card-content__img {
    height: clamp(162px, 79.2px + 17.25vw, 300px);
  }
}
@media (max-width: 767px) {
  .activity__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .activity__items .card-content__img {
    height: auto;
    max-height: 400px;
  }
}