.about {
  &--second {
    .about {
      &__inner {
        padding: calculate-clamp(24px, 40px, 1400px, 1023px);
      }

      &__content {
        padding: 0;
      }

      &__info {
        max-width: 380px;
        margin-left: auto;
      }

      &__img {
        max-height: 340px;
      }
    }
  }

  &__inner {
    background-color: var(--gray-color-100);
    display: flex;
    gap: calculate-clamp(16px, 40px, 1400px, 1023px);
  }

  &__content {
    padding: calculate-clamp(24px, 40px, 1400px, 1023px);
    max-width: 675px;
    width: 100%;

    .textbox {
      color: var(--dark-color-200);
    }
  }

  &__info {
    width: 100%;
    max-width: 555px;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    margin-left: auto;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media(max-width:1023px) {
    &__inner {
      flex-direction: column;
    }

    &__content {
      padding: 32px 16px;
      max-width: 100%;
    }

    &__info {
      // max-width: 100%;
      margin: 0 auto;
    }
  }
}
