.contact {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calculate-clamp(18px, 40px, 1280px, 480px);
  }

  @media(max-width:1023px) {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }
}
