.form-request {
  display: flex;
  flex-direction: column;
  gap: 24px;
  container-type: inline-size;

  &--white {
    color: var(--gray-color-100);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__footer {
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
    gap: calculate-clamp(12px, 24px, 1280px, 767px);

    .textbox {
      color: var(--gray-color-160);
    }

    @container (max-width: 600px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: normal;
    }

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: normal;
    }

    &--column {
      display: flex;
      flex-direction: column;
      align-items: normal;
    }
  }
}
