.gallery {
  --gap-items-gallery-inline: 40px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px var(--gap-items-gallery-inline);
  }

  &__items-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > *:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--gray-color-600);
    }
  }

  &__items {
    @media (min-width: 1024px) {
      & > *:not(:last-child) {
        position: relative;

        &:before {
          position: absolute;
          content: "";
          width: 1px;
          height: 100%;
          background-color: var(--gray-color-600);
          top: 0;
          bottom: 0;
          right: calc((var(--gap-items-gallery-inline) / 2) * -1);
        }
      }
    }
  }

  @media (max-width: 1023px) {
    &__items {
      display: contents;
    }
  }
}
