.info {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calculate-clamp(16px, 40px, 1280px, 480px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 40px, 1280px, 480px);
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  &__img {
    width: 100%;
    height: 210px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--big {
      height: auto;
      max-height: 500px;
      grid-row: span 2;
    }
  }

  @media(max-width:1223px) {
    &__inner {
      display: flex;
      flex-direction: column;
    }
  }

  @media(max-width:600px) {
    &__images {
      display: flex;
      flex-direction: column;
    }

    &__img {
      height: 210px;
    }
  }
}
