.list-custom {
  list-style: none;
  counter-reset: list-custom;

  &__card {
    counter-increment: list-custom 1;

    &:nth-child(-n + 9) {
      .list-custom {
        &__number {
          &:before {
            content: "[0" counter(list-custom) "]";
          }
        }
      }
    }
  }

  &__number {
    position: relative;

    &:before {
      content: "[" counter(list-custom) "]";
    }
  }

  &--default {
    .list-custom {
      &__card {
        &:nth-child(-n + 9) {
          .list-custom {
            &__number {
              &:before {
                content: counter(list-custom);
              }
            }
          }
        }
      }

      &__number {
        &:before {
          content: counter(list-custom);
        }
      }
    }
  }
}

.list-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 19px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 12px;
      height: 2px;
      background-color: var(--dark-color-200);
      left: 0;
      top: 40%;
      // transform: translateY(-50%);
    }
  }
}
