.numbers {
  background-color: var(--gray-color-100);

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calculate-clamp(24px, 40px, 1280px, 480px);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    --gap-items-decor: #{calculate-clamp(16px, 24px, 1280px, 480px)};
    gap: calculate-clamp(16px, 20px, 1280px, 480px) calculate-clamp(32px, 48px, 1280px, 480px);

    .card-info {
      padding: 18px 0;
    }

    .items-decor-card {
      &:nth-child(even) {
        position: relative;

        &:before {
          display: none;
        }
      }
    }
  }

  @media(max-width:1023px) {
    &__inner {
      display: flex;
      flex-direction: column;
    }
  }
}
