.services {
  background-color: var(--gray-color-100);

  &--noBg {
    background-color: transparent;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: calculate-clamp(12px, 24px, 1223px, 767px);

    @media (min-width: 1280px) {
      & > * {
        grid-column: span 3;
      }

      > *.big {
        grid-column: span 6;
      }

      > *.middle {
        grid-column: span 4;
      }
    }
  }

  @media (max-width: 1279px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }
}
