.swiper-box {
  .swiper-slide {
    height: auto;
  }

  &__block {
    width: 100%;
    min-width: 0;
  }

  .arrows-swiper {
    &:has(.arrows-swiper__arrow.prev.swiper-button-disabled):has(
        .arrows-swiper__arrow.next.swiper-button-disabled
      ) {
      display: none;
    }
  }

  &--media {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calculate-clamp(12px, 24px, 1400px, 767px);

      @media (max-width: 767px) {
        display: flex;
        gap: 0;
      }
    }

    @media (max-width: 767px) {
      overflow: hidden;

      .swiper {
        overflow: visible;
      }
    }
  }

  &--lg-noHidden {
    @media (max-width: 1279px) {
      overflow: hidden;

      .swiper {
        overflow: visible;
      }
    }
  }

  &--auto {
    .swiper-slide {
      width: fit-content;
    }
  }
}

.swiper-pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination {
    &.swiper-pagination-fraction {
      background-color: var(--dark-color-450);
      color: var(--gray-color-100);
      padding: 5px 8px;
      font-size: var(--font-size-little);
      font-weight: var(--weight-font-lg);
    }
  }

  &--absolute {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:has(.swiper-pagination.swiper-pagination-lock) {
    display: none;
  }
}
