.workshops {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 40px, 1280px, 480px);
  }
}
