.h1,
h1 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-tighter);
}

.h2,
h2 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-tighter);
}

.h3,
h3 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-xl);
   line-height: var(--line-height-tighter);
}

.h4,
h4 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-lg);
   line-height: var(--line-height-tighter);
}

.h5,
h5 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-md);
   line-height: var(--line-height-tighter);
}

.h6,
h6 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-base);
  line-height: var(--line-height-tighter);
}

.p1 {
  font-size: var(--font-size-base);
}

.p2 {
  font-size: var(--font-size-sm);
}

.p3 {
  font-size: var(--font-size-xs);
}

.p4 {
  font-size: var(--font-size-small);
}

.regular-font {
  font-weight: var(--weight-font-main);
}

.medium-font {
  font-weight: var(--weight-font-md);
}

.semibold-font {
  font-weight: var(--weight-font-lg);
}

.bold-font {
  font-weight: var(--weight-font-xl);
}

.text-uppercase {
  text-transform: uppercase;
}

.accent-color {
  color: var(--primary-color-100);
}

.lh1 {
  line-height: var(--line-height-tighter);
}
